{% extends "base.html" %}
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>{{file_type}}</h3>
        {% if isError %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <div class="form-group">
            <label for="file">Choose a file:</label>
            <input type="file" class="form-control" id="file" name="file" accept="{{file_type}}" required>           
        </div>
        <div class="form-group">
            <label for="currentFileSize">Current File Size:</label>
            <input type="text" class="form-control" id="currentFileSize" name="currentFileSize" readonly>
            <!-- Display current file size, set as readonly -->
        </div>
        <div class="form-group">
            <label for="targetSize">Target Size:</label>
            <div class="input-group">
                <input type="number" class="form-control" id="targetSize" name="target_size" min="0" required>
                <select class="custom-select" id="unit" name="unit">
                   
                        
                        <option value="KB" selected>KB</option>
                        <option value="MB">MB</option>
                    
                </select>
            </div>
            <small id="targetSizeHelpBlock" class="form-text text-danger d-none">Target size is more than the current size.</small>
        </div>

        <input type="submit" class="btn btn-primary" value="Compress">
    </form>
</div>

<style>

    .container {
        margin-top: 100px;
    }
      
    /* Custom style for select option */
    .custom-select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        cursor: pointer;
    }

    .custom-select:focus {
        outline: none;
        border-color: #66afe9;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }
</style>
<script>
    // Fetch current file size and update the input field
    document.getElementById('file').addEventListener('change', function () {
        var fileInput = document.getElementById('file');
        var fileSizeInput = document.getElementById('currentFileSize');
        if (fileInput.files.length > 0) {
            var fileSizeKB = fileInput.files[0].size / 1024; // Convert bytes to kilobytes
            var fileSizeMB = fileSizeKB / 1024; // Convert kilobytes to megabytes
            if (fileSizeKB < 1024) {
                fileSizeInput.value = fileSizeKB.toFixed(2) + ' KB';
                document.getElementById('unit').innerHTML = '<option value="KB" selected>KB</option>';
            } else {
                fileSizeInput.value = fileSizeMB.toFixed(2) + ' MB';
                document.getElementById('unit').innerHTML = '<option value="KB">KB</option><option value="MB" selected>MB</option>';
            }
        } else {
            fileSizeInput.value = '';
        }
    });

    // Validate target size input
    document.getElementById('targetSize').addEventListener('input', function () {
        var targetSizeInput = document.getElementById('targetSize');
        var currentFileSizeInput = document.getElementById('currentFileSize');
        var targetSizeHelpBlock = document.getElementById('targetSizeHelpBlock');
        
        var targetSize = parseFloat(targetSizeInput.value);
        var currentFileSize = parseFloat(currentFileSizeInput.value);
        
        if (targetSize < 0) {
            targetSizeInput.value = 0;
        }
        
        if (targetSize > currentFileSize) {
            targetSizeHelpBlock.classList.remove('d-none');
        } else {
            targetSizeHelpBlock.classList.add('d-none');
        }
    });

    // Prevent form submission if target size is invalid
    document.querySelector('form').addEventListener('submit', function(event) {
        var targetSizeInput = document.getElementById('targetSize');
        var currentFileSizeInput = document.getElementById('currentFileSize');
        
        var targetSize = parseFloat(targetSizeInput.value);
        var currentFileSize = parseFloat(currentFileSizeInput.value);
        
        if (targetSize > currentFileSize) {
            event.preventDefault(); // Prevent form submission
            var targetSizeHelpBlock = document.getElementById('targetSizeHelpBlock');
            targetSizeHelpBlock.classList.remove('d-none'); // Show error message
        }
    });
</script>


{% endblock %}
