{% extends "base.html" %}
{% block content %}
<script src="/static/javascript/compress_files.js"></script>
<div class="file-container">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>{{ file_type }}</h3>
            {% if isError %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <div class="form-group">
                <label for="file">Choose a file:</label>
                <input type="file" class="form-control" id="file" name="file" accept="{{ file_type }}" required>           
            </div>
            <div class="form-group">
                <label for="currentFileSize">Current File Size:</label>
                <input type="text" class="form-control" id="currentFileSize" name="currentFileSize" readonly>
                <!-- Display current file size, set as readonly -->
            </div>
            <div class="form-group">
                <label for="targetSize">Target Size:</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="targetSize" name="target_size" min="0" required>
                    <select class="custom-select" id="unit" name="unit">
                        <option value="KB" selected>KB</option>
                        <option value="MB">MB</option>
                    </select>
                </div>
                <small id="targetSizeHelpBlock" class="form-text text-danger d-none">Target size is more than the current size.</small>
            </div>
            <input type="submit" class="btn btn-primary" value="Compress">
        </form>
    </div>
</div>
{% endblock %}
