<footer class="footer">
    <div class="footer-container">
               
        <div class="important-links">
            <h3>Important Links</h3>
            <ul>
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        
        <div class="contact" style="display: block;">
            <h3>Contact Me</h3>
            <p>Email: soyebali0101@gmail.com</p>
            <p>Alternative email: sohebfaruque@gmail.com</p>
        </div>
        
        
        
        <div class="follow">
            <h3>Follow Me</h3>
            <a href="#"><img src="/static/img/facebook-icon.png" alt="Facebook"/></a>
            
            <a href="#"><img src="/static/img/instagram-icon.png" alt="Instagram"/></a>
        </div>
    </div>
    
    <div class="copyright">
        <p>&copy; 2023 PDF Maker. All rights reserved.</p>
    </div>
</footer>
