<footer class="footer">
    <div class="footer-container">
               
        <div class="important-links">
            <h3>Important Links</h3>
            <ul>
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="{% url 'Feedback' %}">Feedback</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        
        <div class="contact" style="display: block;">
            <h3>Contact Me</h3>
            {% for contact in contactMe %}
            <p>{{contact.contact_way}}: {{contact.contact_details}}</p>
            {% endfor %}
            
        </div>
        
        
        
        <div class="follow">
            <h3>Follow Me</h3>
            {% for follow in followMe %}
            <a href="{{follow.link}}">
                <img src="{{follow.image.url}}" alt="{{follow.name}}"/>
            </a>
            {% endfor %}
            
        </div>
    </div>
    
    <div class="copyright">
        <p>&copy; 2023 PDF Maker. All rights reserved.</p>
    </div>
</footer>
