{% load static %}
<header>
    <nav>
        <h1 class="logo">PDF Maker</h1>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Features</a>
                <div class="dropdown-content">
                    <a href="{% url 'txt' %}">convert text to pdf</a>
                    <a href="">convert image to pdf</a>
                    
                    <!-- Add more feature links as needed -->
                </div>
            </li>
            {% if request.session.user_id %}
            <li>
                <div class="user-profile" id="user-profile">
                 {% if user.profile_picture  %} 
                        <img class="circular-icon" src="{{ user.profile_picture.url }}">
                   {% else %}
                   <img class="circular-icon" src="{% static 'img/noprofile.jpg' %}">
                    {% endif %} 
                <!--    <p class="user-name">{{user.userName}}</p>-->
                    <div class="profile-options" id="profile-options">
                        
                        <a href="{% url 'Profile' %}">Profile</a>
                        <a href="/history">History</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </li>
        {% else %} 
            <li><a href="/login/" style="border:2px solid red;">Login</a></li>
        {% endif %}
        </ul>
    </nav>
</header>






