{% extends 'base.html' %}
{% block title %}PDF Maker - Transforming Files into PDFs{% endblock %}
{% block content %}
{% load static %}

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .option {
    width: 200px; /* Adjust the width as needed */
    margin: 10px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: border-color 0.3s ease;
    background-color: #fff;
  }
  .option:hover {
    border-color: #3498db; /* Change border color on hover */
  }
  .option img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  .option:hover img {
    transform: scale(1.1); /* Enlarge image on hover */
  }
  .option .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .option:hover .content {
    opacity: 1; /* Show content on hover */
  }
  .custom-button {
    position: relative;
    background: #d3d3d3; /* Light grey background */
    color: #000; /* Black text */
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

.custom-button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
}



/* HTML button styles */
#htmlsButton:hover {
    border-color: #8A2BE2; /* Unique color for HTML button hover */
}
#htmlsButton:hover i::before,
#htmlsButton:hover i::after {
    border-color: #8A2BE2; /* Same unique color for HTML button hover */
}
/* Multi-format button styles */
#multiFormatButton:hover {
    border-color: purple; /* Purple border on hover */
}

#multiFormatButton:hover i::before,
#multiFormatButton:hover i::after {
    border-color: purple; /* Purple border on hover */
}

#imagesButton:hover {
    border-color: red; /* Red border on hover */
}

#imagesButton:hover i::before,
#imagesButton:hover i::after {
    border-color: red; /* Red border on hover */
}

#docxButton:hover {
    border-color: blue; /* Blue border on hover */
}

#docxButton:hover i::before,
#docxButton:hover i::after {
    border-color: blue; /* Blue border on hover */
}

#textsButton:hover {
    border-color: black; /* Black border on hover */
}

#textsButton:hover i::before,
#textsButton:hover i::after {
    border-color: black; /* Black border on hover */
}

#excelsButton:hover {
    border-color: green; /* Green border on hover */
}

#excelsButton:hover i::before,
#excelsButton:hover i::after {
    border-color: green; /* Green border on hover */
}

#powerpointsButton:hover {
    border-color: orange; /* Light orange border on hover */
}

#powerpointsButton:hover i::before,
#powerpointsButton:hover i::after {
    border-color: orange; /* Light orange border on hover */
}

.custom-button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #fff; /* White background inside */
}

.custom-button span {
    position: relative;
    z-index: 1;
}

.custom-button i {
    position: absolute;
    inset: 0;
    display: block;
}

.custom-button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid transparent;
    background: #fff; /* White background inside */
    transition: 0.2s;
}

.custom-button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

.custom-button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid transparent;
    background: #fff; /* White background inside */
    transition: 0.2s;
}

.custom-button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
}

</style>

<div style="margin-top: 100px; text-align: center;">
  <h2>Welcome to PDF Maker!</h2>
  <p>Create and manage your PDFs with ease.</p>
  {% if not request.session.user_id %}
  <p>Create an account to access file conversion history and download files at any time.</p>
  {% endif %}
</div>

<div class="container">

  <!-- Text to PDF Conversion -->
  <div class="option">
    <a href="{% url 'text_to_pdf' %}">
      <img src="{% static 'img/text_to_pdf.jpeg' %}" alt="Text to PDF Icon">
      <div class="content">
        <span>Convert Text(.txt) to PDF</span>
      </div>
    </a>
  </div>

  <!-- HTML to PDF Conversion -->
  <div class="option">
    <a href="{% url 'html_to_pdf' %}">
      <img src="{% static 'img/html_to_pdf.jpg' %}" alt="HTML to PDF Icon">
      <div class="content">
        <span>Convert HTML(.html) to PDF</span>
      </div>
    </a>
  </div>

  <!-- Image to PDF Conversion -->
  <div class="option">
    <a href="{% url 'image_to_pdf' %}">
      <img src="{% static 'img/image_to_pdf.jpeg' %}" alt="Image to PDF Icon">
      <div class="content">
        <span>Convert Image(.png, .jpg, .jpeg) to PDF</span>
      </div>
    </a>
  </div>

  <!-- Word to PDF Conversion -->
  <div class="option">
    <a href="{% url 'docx_to_pdf' %}">
      <img src="{% static 'img/word_to_pdf.jpeg' %}" alt="Word to PDF Icon">
      <div class="content">
        <span>Convert Word(.docx, .doc) to PDF</span>
      </div>
    </a>
  </div>

  <!-- Excel to PDF Conversion -->
  <div class="option">
    <a href="{% url 'excel_to_pdf' %}">
      <img src="{% static 'img/excel_to_pdf.jpeg' %}" alt="Excel to PDF Icon">
      <div class="content">
        <span>Convert Excel(.xlsx, .xls) to PDF</span>
      </div>
    </a>
  </div>

  <!-- PowerPoint to PDF Conversion -->
  <div class="option">
    <a href="{% url 'powerpoint_to_pdf' %}">
      <img src="{% static 'img/powerpoint_to_pdf.jpeg' %}" alt="PowerPoint to PDF Icon">
      <div class="content">
        <span>Convert PowerPoint(.pptx) to PDF</span>
      </div>
    </a>
  </div>
</div>

<div style="margin-top: 50px; text-align: center;">
  <h3>Advanced Conversion</h3>
</div>

<div class="container">
    <!-- Multiple Texts to PDF Conversion -->
    <button id="textsButton" class="custom-button" onclick="window.location.href='{% url 'texts_to_pdf' %}'">
      <span>Convert Multiple Text files (.txt) to PDF</span><i></i>
    </button>
     <!-- Multiple HTML files to PDF Conversion -->
    <!--<button id="htmlsButton" class="custom-button" onclick="window.location.href='{% url 'htmls_to_pdf' %}'">-->
    <!--  <span>Convert Multiple HTML files (.html) to PDF</span><i></i>-->
    <!--</button>-->
  <!-- Multiple Images to PDF Conversion -->
  <button id="imagesButton" class="custom-button" onclick="window.location.href='{% url 'images_to_pdf' %}'">
    <span>Convert Multiple Images (.png, .jpg, .jpeg) to PDF</span><i></i>
  </button>
  <!-- Multiple Documents to PDF Conversion -->
  <button id="docxButton" class="custom-button" onclick="window.location.href='{% url 'docxs_to_pdf' %}'">
    <span>Convert Multiple Docx files (.docx) to PDF</span><i></i>
  </button>
  <!-- Multiple Excels to PDF Conversion -->
  <button id="excelsButton" class="custom-button" onclick="window.location.href='{% url 'excels_to_pdf' %}'">
    <span>Convert Multiple Excel files (.xlsx) to PDF</span><i></i>
  </button>
  <!-- Multiple PowerPoints to PDF Conversion -->
  <button id="powerpointsButton" class="custom-button" onclick="window.location.href='{% url 'powerpoints_to_pdf' %}'">
    <span>Convert Multiple PowerPoint files (.pptx) to PDF</span><i></i>
  </button>
    <button id="multiFormatButton" class="custom-button" onclick="window.location.href='{% url 'multi_formats_to_pdf' %}'">
      <span>Convert Multiple Format files to PDF</span><i></i>
    </button>
</div>






{% endblock %}
