{% extends 'base.html' %}
{% block title %}PDF_Maker - Transforming Files into PDFs{% endblock %}
{% block content %}

<div style="margin-top: 100px; text-align: center;">
  <h2>Welcome to PDF Maker!</h2>
  <p>Create and manage your PDFs with ease.</p>
</div>

  
    
    <div class="container">
        <h1>Document Conversion Options</h1>
        <div class="option">
          <a href="{% url 'text_to_pdf' %}">Text(.txt) to PDF</a>
        </div>

        <div class="option">
          <a href="{% url 'image_to_pdf' %}">Image(.png, .jpg, .jpeg) to PDF</a>
        </div>
        <div class="option">
          <a href="{% url 'compress_image' %}">COMPRESS YOUR IMAGE FILES</a>
        </div> 
        <div class="option">
          <a href="{% url 'compress_pdf' %}">COMPRESS YOUR PDF FILES</a>
        </div> 
        
    </div>

{% endblock %}