{% extends 'base.html' %}
{% block title %}PDF Maker - Transforming Files into PDFs{% endblock %}
{% block content %}
{% load static %}

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .option {
    width: 200px; /* Adjust the width as needed */
    margin: 10px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: border-color 0.3s ease;
    background-color: #fff;
  }
  .option:hover {
    border-color: #3498db; /* Change border color on hover */
  }
  .option img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  .option:hover img {
    transform: scale(1.1); /* Enlarge image on hover */
  }
  .option .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .option:hover .content {
    opacity: 1; /* Show content on hover */
  }
</style>

<div style="margin-top: 100px; text-align: center;">
  <h2>Welcome to PDF Maker!</h2>
  <p>Create and manage your PDFs with ease.</p>
</div>

<div class="container">


  <!-- Text to PDF Conversion -->
  <div class="option">
    <a href="{% url 'text_to_pdf' %}">
      <img src="{% static 'img/text_to_pdf.jpeg' %}" alt="Text to PDF Icon">
      <div class="content">
        <span>Convert Text(.txt) to PDF</span>
      </div>
    </a>
  </div>

  <!-- Image to PDF Conversion -->
  <div class="option">
    <a href="{% url 'image_to_pdf' %}">
      <img src="{% static 'img/image_to_pdf.jpeg' %}" alt="Image to PDF Icon">
      <div class="content">
        <span>Convert Image(.png, .jpg, .jpeg) to PDF</span>
      </div>
    </a>
  </div>

  <!-- Word to PDF Conversion -->
  <div class="option">
    <a href="{% url 'docx_to_pdf' %}">
      <img src="{% static 'img/word_to_pdf.jpeg' %}" alt="Word to PDF Icon">
      <div class="content">
        <span>Convert Word(.docx, .doc) to PDF</span>
      </div>
    </a>
  </div>


  <!-- Excel to PDF Conversion -->
  <div class="option">
    <a href="{% url 'excel_to_pdf' %}">
      <img src="{% static 'img/excel_to_pdf.jpeg' %}" alt="Excel to PDF Icon">
      <div class="content">
        <span>Convert Excel(.xlsx, .xls) to PDF</span>
      </div>
    </a>
  </div>


  <!-- HTML to PDF Conversion -->
  <div class="option">
    <a href="{% url 'html_to_pdf' %}">
      <img src="{% static 'img/html_to_pdf.jpg' %}" alt="HTML to PDF Icon">
      <div class="content">
        <span>Convert HTML(.html) to PDF</span>
      </div>
    </a>
  </div>

  <!-- PowerPoint to PDF Conversion -->
  <div class="option">
    <a href="{% url 'powerpoint_to_pdf' %}">
      <img src="{% static 'img/powerpoint_to_pdf.jpeg' %}" alt="PowerPoint to PDF Icon">
      <div class="content">
        <span>Convert PowerPoint(.pptx) to PDF</span>
      </div>
    </a>
  </div>
</div>

{% endblock %}
