

<!DOCTYPE html>

<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/static/img/frontImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Your Progress is <br>  our success</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/static/img/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Your Progress <br>is our success</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    
    
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login </div>
            {% if pass_updated %}your password updated successfully!
            login here{% endif %}
            {% if acc_created %}your account is Created successfully!
            please login here{% endif %}
              
            {% if error %}Incorrect login details {% endif %}
           
          <form  method='post'>
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="id" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="pass" required>
              </div>
              <div class="text"><a href="/forget-password">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="/signup/" method="post">
          {% csrf_token %}
            <div class="input-boxes">
              
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="uemail" required>
              </div>
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your password " name="upass" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password Again " name="upassagain" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const flipCheckbox = document.getElementById('flip');
        const loginForm = document.querySelector('.login-form');
        const signupForm = document.querySelector('.signup-form');

        flipCheckbox.addEventListener('change', function () {
            loginForm.classList.toggle('active');
            signupForm.classList.toggle('active');
        });
    });
</script>
</body>
</html>
