{% extends "base.html" %}
{% block title %}User Profile Settings - PDF Maker{% endblock %}

{% block content %}
{% load static %}

<div class="profile-container">
    <div class="profile-section">
        <div class="profile-pic">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}">
            {% else %}
                <img src="{% static 'img/noprofile.jpg' %}">
            {% endif %}
        </div>
        <div class="profile-buttons">
            <form method="post" action="{% url 'update_picture' %}" enctype="multipart/form-data" id="profile-picture-form">
                {% csrf_token %}
                <label for="profile-picture-input" id="upload-button" class="upload-button btn btn-primary">
                    {% if user.profile_picture %}
                        Change Photo
                    {% else %}
                        Upload Photo
                    {% endif %}
                </label>
                <input type="file" name="profile_picture" id="profile-picture-input" style="display: none;" accept="image/*" onchange="document.getElementById('profile-picture-form').submit();">
            </form>
            
            
            

            <form method="post" action="{% url 'remove_picture' %}">
                {% csrf_token %}
                <button type="submit" class="remove-picture-button">Remove Picture</button>
            </form>
        </div>
    </div>
    
    <div class="user-details">
        <div class="field">
            {% if error == 'name' %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'update_name' %}" class="edit-form">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" placeholder="{{ user.name }}">
                    <button class="btn btn-primary" type="submit">Change your Name</button>
                </div>
            </form>
        </div>
        
        <div class="field">
            {% if error == 'username' %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'update_username' %}" class="edit-form">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="{{ user.username }}">
                    <button class="btn btn-primary" type="submit">Change your Username</button>
                </div>
            </form>
        </div>

        <div class="field">
            <div class="input-group mb-3">
                <input type="text" class="form-control" value="{{ user.email }}" readonly>
                <button class="btn btn-primary" type="button">@Email</button>
            </div>
        </div>
        
        <a href="{% url 'forget_password' %}" class="reset-password-link">Reset Password</a>
        <form method="post" action="{% url 'delete_account' %}">
            {% csrf_token %}
            <button type="submit" class="delete-account-button">Delete Account</button>
        </form>
    </div>
</div>

{% endblock %}
