{% extends 'base.html' %}
{% block title %}User Files - PDF_Maker{% endblock %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Your Files</th>
                <th>Download Your File</th>
                <th>Your PDF Files</th>
                <th>Download Your PDF</th>
            </tr>
        </thead>
        <tbody>
            {% for file in user_files %}
            <tr>
                <td>{{ file.created_at|date:"Y-m-d" }}</td>
                <td>{{ file.created_at|time:"h:i A" }}</td>
                <td>{{ file.user_file.name|extract_filename }}</td>
                <td><a href="{{ file.user_file.url }}" class="btn btn-primary" download>Download</a></td>
                <td>{{ file.pdf_file.name|extract_filename }}</td>
                <td><a href="{{ file.pdf_file.url }}" class="btn btn-primary" download>Download</a></td>       
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .container {
        margin-top: 100px;
    }
</style>
{% endblock %}
