.confirm-delete-container {
    text-align: center;
    margin: 190px;
}

.password-input {
    margin-top: 20px;
    padding: 8px;
}

.confirm-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}