
.file-container  .container {
    margin-top: 100px;
}
  
/* Custom style for select option */
.custom-select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
