.container {
    width: 500px;
    margin: 0 auto;
  }
  
  .option {
    margin-bottom: 10px;
  }
  
  .option a {
    display: block;
    padding: 10px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
  }
  
  .option a:hover {
    background-color: #bbb;
  }