.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px; 
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.drop_box {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border: 3px dashed #a3a3a3;
  border-radius: 5px;
  cursor: pointer;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
  margin-bottom: 10px;
}

.drop_box p {
  font-size: 12px;
  color: #a3a3a3;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0040b0;
}

.form {
  margin-top: 20px;
  text-align: center;
}

.form h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.form input:focus {
  border-color: #005af0;
  outline: none;
}

.form button {
  background-color: #005af0;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #0040b0;
}

/* Additional styles for the download option */
.download-pdf {
  margin-top: 20px;
  text-align: center;
}

.download-pdf a.btn {
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-pdf a.btn:hover {
  background-color: #0040b0;
}